@use "variables" as *;
@use "mixins";

.card {
  @include mixins.flex(column);
  border: 0;
  border-radius: $defaultBorderRadius;
  background-color: $primary;
  color: white;
  padding: $defaultPadding;

  &_full {
    flex-direction: row;
    background-color: transparent;

    .card__title {
      flex-grow: 0;
    }
  }

  &_compact {
    flex-direction: row;
    background-color: transparent;
    align-items: center;
    border-radius: 0;

    .card__title {
      flex-grow: 1;
    }
  }

  &__column {
    @include mixins.flex(column);
    align-items: flex-start;
  }

  &__row {
    @include mixins.flex(row);
    align-items: center;
    gap: $defaultPadding;
  }

  &__image {
    height: 390px;
    aspect-ratio: 1;
    margin: 3.75rem;
    
    & svg{
      background: rgba(12, 24, 40, 0.31);
      box-shadow: inset 0px 0.898439px 1.41183px #FFFFFF, inset 0px -10.5246px 8.7277px #E8E8E8, inset 0px 12.5782px 12.8348px rgba(232, 232, 232, 0.3), inset 0px 0.513394px 2.31027px rgba(232, 232, 232, 0.5), inset 0px 0.128348px 5.13394px rgba(232, 232, 232, 0.2);
      backdrop-filter: blur(5.20258px);
    }
  }

  &__title {
    font-size: $titleFontSize;
    font-weight: 500;
    margin: 0;
    flex-grow: 1;
  }
  &__text {
    text-align: left;
    flex-grow: 1;
  }
  &__category {
    padding: 0.5rem 1.25rem;
    border-radius: 2.5rem;
    margin-bottom: 12px;
    color: $primary;

    &_soft {
      background-color: $category1;
    }
    &_hard {
      background-color: $category5;
    }
    &_other {
      background-color: $category2;
    }
    &_additional {
      background-color: $category3;
    }
    &_button {
      background-color: $category4;
    }
  }
  &__action {

  }
  &__price {

  }
}